# macOS system files
.DS_Store

# VS Code settings
.vscode

# Krakend output and test files
krakend-out.json
krakend-out.*
krakend-test.json
krakend-test.*
out.json

# Backup and temp files
*.bak
*.tmp

# Logs
*.log